<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Criminal ? Index Page</h1>

	<ul>
	 <% for (let i=0; i< criminals.length; i++) {%> -->
		<li>
			
			<a href="/criminals/<%= criminals[i].id%>">
			<%= criminals[i].name %>
				
			</a>
			

			

			</li>
		<% } %>
	</ul>

</body>
</html>