<!DOCTYPE html>
<html>
<head>
	<title>Dr Who Characters</title>
</head>
<body>
	<h1>Welcome Whovian!</h1>
	<h2>Choose a character below to learn more:</h2>
	<a href="/whovians/new">Or add your own character here.</a>

	<ul>
		<% for (let i = 0; i < whovians.length; i++) { %>
			<li><a href="whovians/<%=whovians[i].id %>"><%= whovians[i].name %></a></li>
			<nav>
				<a href="whovians/<%=whovians[i].id %>/edit">(Edit)</a>
			</nav>
			<form action="/whovians/<%=whovians[i].id %>/?_method=DELETE" method="POST">
				<button>EXTERMINATE</button>
			</form>
		<% } %>
	</ul>
</body>
</html>