<!DOCTYPE html>
<html>
<head>
	<title>Movie Watch List</title>
</head>
<body>

	<h1>Movie List</h1>

	<a href="/movies/new"><button type="submit">Create new button</button></a>

	<ul>
		<% for(let i = 0; i < movies.length; i++) {%>
		<li>
			<a href="/movies/<%= movies[i].id%>"><%=movies[i].title %></a>

			has
			<% if (!movies[i].hasBeenWatched) { -%>
				not
			<% } -%>

			been watched.

			<form action="/movies/<%= movies[i].id %>?_method=DELETE" method="POST">
				<button type="submit">Remove Movie</button>
			</form>


			

		</li>
		<% } %>


	</ul>

</body>
</html>