<html>
<head>
	<title>Add a movie</title>
</head>
<body>
	<h1>New movie Page</h1>
	<form action="/movies" method="POST">
		Name: <input type="text" name="name">
		Year: <input type="text" name="year">
		Image: <input type="text" name="img">
		Genre: <input type="text" name="genre">
		<input type="submit">
	</form>
</body>
</html>