<!DOCTYPE html>
<html>
<head>
	<title>Add Who Character</title>
</head>
<body>
	<h1>Add a New Dr. Who Character!</h1>
	<form action="/whovians" method="POST">
		Name: <input type="text" name="name">
		<br>
		Type: <input type="text" name="type">
		<br>
		Species: <input type="text" name="species">
		<br>
		Birthdate: <input type="text" name="birthDate">
		<br>
		Skills: <input type="text" name="skills">
		<br>
		Friend: <input type="checkbox" name="friend">
		<br>
		Seasons: <input type="text" name="seasons">
		<br>
		<input type="submit" name="" value="Submit Character">
	</form>

</body>
</html>