<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta charset="utf-8">
  <title>Create a new car</title>
</head>
<body>

  <h1>Create a new car</h1>
  <form action="/cars" method="POST">
    Make:<input type="text" name="make"><br>
    Model:<input type="text" name="model"><br>
    Year:<input type="date" name="year"><br>
    Color:<input type="text" name="color"><br>
    <input type="submit" name="Create car"><br>
  </form>

</body>
</html>