<!DOCTYPE html>
<html>
<head>
	<title>Add New Movie</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

</head>
<body>

	<h1>Add New Movie</h1>

	<form action="/movies" method="POST">
		TITLE:<input type="text" name="title"> 
		YEAR RELEASED:<input type="text" name="yearReleased"> 
		WATCHED:<input type="checkbox" name="hasBeenWatched"> <br>
		<button type="submit">Add Movie to the List</button>
	</form>


	<a href="/movies"><button type="submit">Back to index page</button></a>



</body>
</html>