<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Criminal Show page</title>
</head>
<body>
	<h1>Criminal Show page</h1>
	<nav>
		<a href="/fruits">index page of Fruits</a>
	</nav>
	<ul>	
		<li>
			<%=criminal.name%>		
			's crime is
			<%=criminal.crime%>
			
			The criminal is 
			<%if(!criminal.inPrison){%> not <% }%>
			in prison.
		</li>	
	</ul>
	</form>
</body>
</html>